#galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #14423c;
  padding-bottom: 40px;
  margin: 100px 0 40px 0;
}
#galeria h2 {
  margin: 40px 0 0 0;
}
.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.galeria_img {
  max-height: 200px;
  min-width: 300px;
}
.flecha {
  background-color: transparent;
  border: none;
  margin: 0 20px;
}
.icono-galeria {
  width: 20px;
}
@media (max-width: 970px) {
  .display-none {
    display: none;
  }
}
@media (max-width: 715px) {
  .galeria_img {
    max-height: 160px;
    min-width: 240px;
  }

  .icono-galeria {
    width: 10px;
  }
}
@media (max-width: 715px) {
  .display-none1 {
    display: none;
  }
}
