.item-service {
  padding: 0 0 10px 60px;
  display: flex;
  align-items: flex-start;
}

.item-service {
  display: flex;
  flex-direction: row;
}
.icon-image {
  width: 50px;
  padding-right: 20px;
}
.title-service {
  padding: 20px 0 0 0;
  margin: 0;
}
.text-box {
  width: 360px;
  font-size: 12px;
}
@media (max-width: 970px) {

  .item-service {
    width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 10px 0;
    }
     .text-box {
      margin: 10px auto 20px auto;
      width: 200px;
    }
  }
  @media (max-width: 428px) {
   
   
  }
}
